<a class="user-inf list" href="<%= `/user/${userInf.userid}`%>">
    <img class="avatar" src="<%= `/api/avatar/${userInf.userid}?type=3`%>">
    <span class="username list"><%= userInf.username %></span>
</a>